.carousel {
  position: relative;
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: lightgreen;
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
}

.carousel__button--left {
  left: -30px;
}

.carousel__button--right {
  right: -30px;
}

.carousel__button img {
  width: 12px;
}

/* Center align the article boxes */
.row .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content:; */
  height: 100%;
}

/* Set a maximum width for the images */
.row .box img {
  max-width: 100%;
  height: auto;
}

/* Adjust the spacing between team members */
.row .col-4 {
  margin-top: 0rem;
}

/* Style the team member names */
.row .box h3 a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Style the positions */
.row .box p.position {
  font-weight: bold;
  color: #888;
}

/* Style the institutions */
.row .box p strong {
  font-weight: bold;
}

/* Style the research keywords */
.row .box p:not(.position) {
  text-align: left;
  margin-top: 0rem;
}

/* Adjust the spacing between sections on medium and small screens */
@media (max-width: 980px) {
  .row .col-4 {
    margin-top: 0rem;
  }
}
